@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --c-bg: #684bb1;
  --c-white: #ffffff;
  --c-black: #000000;
  --ff-poppins: "Poppins", sans-serif;
  --ff-open-sans: "Open Sans", sans-serif;
  --fs-h1: 2.5rem;
  --fs-p: 1.125rem;
  --fs-btn: 1.125rem;
  --fw-sb: 600;
  --fw-r: 400;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  scroll-behavior: smooth;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background-color: var(--c-bg);
  width: 100vw;
  height: 100vh;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

img,
svg,
main {
  display: block;
}

.container {
  padding: 0 5rem;
}
.container-fluid {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-img {
  width: 100%;
  height: auto;
  display: block;
}
.container-relative {
  position: relative;
}
.container-relative > img {
  position: absolute;
}
.container-relative .img_x {
  left: 3.75rem;
  top: 44.25rem;
  rotate: 90deg;
  width: calc(3.5% - 0.1vw);
}
.container-relative .img_pathTop {
  left: 0;
  top: 0;
  width: calc(58% - 0.1vw);
}
.container-relative .img_pathBottom {
  left: 0;
  top: 45.8%;
  width: calc(100% - 0.1vw);
}
.container-relative .img_rectangleSmaller {
  left: 85.1%;
  top: 74.25%;
  width: calc(1.75% - 0.1vw);
}
.container-relative .img_rectangleBigger {
  left: calc(100% - 11.5rem);
  bottom: calc(100% - 8.5rem);
  width: calc(5% - 0.1vw);
}
.container-relative .img_rectangleMedium1 {
  left: 47.3%;
  top: 20.5%;
  width: calc(2.75% - 0.1vw);
}
.container-relative .img_rectangleMedium2 {
  left: 63.3%;
  top: 5.1%;
  width: calc(2.75% - 0.1vw);
}
.container-relative .img_rectangle {
  left: 75.1%;
  top: 85.25%;
  width: calc(3.5% - 0.1vw);
}
@media (width <= 1000px) {
  .container {
    padding: 0 3.75rem;
  }
}
@media (width <= 800px) {
  .container {
    padding: 0 3.25rem;
  }
}
@media (width <= 720px) {
  .container {
    padding: 0 2.5rem;
  }
  .container-relative .img_x {
    display: none !important;
  }
  .container-relative .img_pathTop {
    left: calc(33% - 0.1vw);
    top: 0;
    width: calc(100% - 0.1vw);
  }
  .container-relative .img_pathBottom {
    left: calc(-62% - 0.1vw);
    top: calc(21% - 0.1vh);
    width: calc(100% - 0.1vw);
    rotate: 180deg;
  }
  .container-relative .img_rectangleSmaller {
    left: calc(0% + 13rem);
    top: calc(0% + 40rem);
    width: calc(3.75% - 0.1vw);
  }
  .container-relative .img_rectangleBigger {
    left: calc(0% + 2rem);
    top: calc(0% + 29rem);
    width: calc(14% - 0.1vw);
  }
  .container-relative .img_rectangleMedium1 {
    left: calc(0% + 39.5rem);
    top: calc(0% + 17rem);
    width: calc(9% - 0.1vw);
  }
  .container-relative .img_rectangleMedium2 {
    left: calc(0% + 17.5rem);
    top: calc(0% + 37.5rem);
    width: calc(6% - 0.1vw);
  }
  .container-relative .img_rectangle {
    left: calc(0% + 39.5rem);
    top: calc(0% + 37.25rem);
    width: calc(6% - 0.1vw);
  }
}
@media (width <= 600px) {
  .container-relative .img_rectangleSmaller {
    left: calc(0% + 11.25rem);
    top: calc(0% + 33rem);
  }
  .container-relative .img_rectangleBigger {
    top: calc(0% + 25rem);
  }
  .container-relative .img_rectangleMedium1 {
    left: calc(0% + 33rem);
    top: calc(0% + 15rem);
  }
  .container-relative .img_rectangleMedium2 {
    left: calc(0% + 32.5rem);
    top: calc(0% + 31.7rem);
  }
  .container-relative .img_rectangle {
    left: calc(0% + 14rem);
    top: calc(0% + 30.75rem);
  }
}
@media (width <= 500px) {
  .container-relative .img_rectangleSmaller {
    left: calc(0% + 9.5rem);
    top: calc(0% + 29rem);
  }
  .container-relative .img_rectangleBigger {
    top: calc(0% + 21rem);
    left: calc(0% + 2rem);
  }
  .container-relative .img_rectangleMedium1 {
    left: calc(0% + 26.75rem);
    top: calc(0% + 13rem);
    width: calc(9% - 0.1vw);
  }
  .container-relative .img_rectangleMedium2 {
    left: calc(0% + 27rem);
    top: calc(0% + 27rem);
  }
  .container-relative .img_rectangle {
    left: calc(0% + 12rem);
    top: calc(0% + 27rem);
  }
}
@media (width <= 375px) {
  .container {
    padding: 0 2.5rem;
  }
  .container-relative .img_x {
    display: none !important;
  }
  .container-relative .img_pathTop {
    left: calc(33% - 0.1vw);
    top: 0;
    width: calc(100% - 0.1vw);
  }
  .container-relative .img_pathBottom {
    left: calc(-62% - 0.1vw);
    top: calc(21% - 0.1vh);
    width: calc(100% - 0.1vw);
    rotate: 180deg;
  }
  .container-relative .img_rectangleSmaller {
    left: calc(0% + 7.5rem);
    top: calc(0% + 22rem);
    width: calc(3.75% - 0.1vw);
  }
  .container-relative .img_rectangleBigger {
    left: calc(0% + 2.35rem);
    top: calc(0% + 16rem);
    width: calc(14% - 0.1vw);
  }
  .container-relative .img_rectangleMedium1 {
    left: calc(0% + 19.35rem);
    top: calc(0% + 10.25rem);
    width: calc(9% - 0.1vw);
  }
  .container-relative .img_rectangleMedium2 {
    left: calc(0% + 19.35rem);
    top: calc(0% + 20.5rem);
    width: calc(6% - 0.1vw);
  }
  .container-relative .img_rectangle {
    left: calc(0% + 9.5rem);
    top: calc(0% + 20.5rem);
    width: calc(6% - 0.1vw);
  }
}

.btn {
  color: var(--c-bg);
  cursor: pointer;
  padding: 0.875rem 4rem 1rem;
  border-radius: 1.75rem;
  border: transparent;
  box-shadow: 2px 4px 9px 3px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease;
}
.btn:hover {
  background-color: #e880e8;
  color: var(--c-white);
}
@media (width <= 1320px) {
  .btn {
    padding: 0.875rem 3.5rem 1rem;
  }
}
@media (width <= 1200px) {
  .btn {
    padding: 0.875rem 3rem 1rem;
  }
}
@media (width <= 1050px) {
  .btn {
    padding: 0.875rem 2.5rem 0.95rem;
  }
}
@media (width <= 800px) {
  .btn {
    padding: 0.875rem 2.25rem 0.95rem;
  }
}
@media (width <= 720px) {
  .btn {
    padding: 0.7rem 4.68rem;
  }
}
@media (width <= 375px) {
  .btn {
    padding: 0.68rem 4.68rem 0.625rem;
  }
}

.header {
  justify-content: flex-start;
  padding-top: 4rem;
}
.header__logo {
  z-index: 1;
  max-width: 12.5rem;
}
@media (width <= 1320px) {
  .header__logo {
    max-width: 10.5rem;
  }
}
@media (width <= 1200px) {
  .header__logo {
    max-width: 9.25rem;
  }
}
@media (width <= 900px) {
  .header__logo {
    max-width: 7.75rem;
  }
}
@media (width <= 800px) {
  .header__logo {
    max-width: 7rem;
  }
}
@media (width <= 720px) {
  .header__logo {
    max-width: 10rem;
  }
}
@media (width <= 600px) {
  .header__logo {
    max-width: 8.75rem;
  }
}
@media (width <= 500px) {
  .header__logo {
    max-width: 8rem;
  }
}
@media (width <= 425px) {
  .header__logo {
    max-width: 7.25rem;
  }
}
@media (width <= 375px) {
  .header {
    padding-top: 2.38rem;
  }
  .header__logo {
    max-width: 6.25rem;
  }
}

.hero {
  justify-content: space-between;
  align-items: flex-start;
  gap: 3.75rem;
  padding-top: 5.5rem;
}
.hero * {
  z-index: 1;
}
.hero__img {
  width: 60%;
  justify-content: flex-start;
}
.hero__text {
  width: 40%;
  font-weight: var(--fw-r);
  color: var(--c-white);
  flex-direction: column;
  gap: 1.5rem;
  align-items: baseline;
  padding-top: 2.25rem;
}
.hero__text h1 {
  font-family: var(--ff-poppins);
  font-size: var(--fs-h1);
  font-weight: var(--fw-sb);
}
.hero__text p,
.hero__text button {
  font-family: var(--ff-open-sans);
  font-size: var(--fs-p);
  font-weight: var(--fw-r);
}
.hero__text p {
  line-height: 27px;
}
@media (width <= 1320px) {
  .hero {
    gap: 3.25rem;
    padding-top: 5rem;
  }
  .hero__text {
    padding-top: 1.5rem;
    gap: 1rem;
  }
  .hero__text h1 {
    font-size: 2.15rem;
  }
  .hero__text p,
  .hero__text button {
    font-size: 1rem;
  }
}
@media (width <= 1200px) {
  .hero {
    gap: 2.75rem;
    padding-top: 4rem;
    justify-content: flex-start;
  }
  .hero__text {
    width: 45%;
  }
  .hero__text h1 {
    font-size: 1.9rem;
  }
  .hero__text p,
  .hero__text button {
    font-size: 0.9rem;
  }
}
@media (width <= 1050px) {
  .hero {
    gap: 2.25rem;
    padding-top: 3.5rem;
  }
  .hero__text {
    gap: 0.65rem;
  }
  .hero__text h1 {
    font-size: 1.65rem;
  }
  .hero__text p,
  .hero__text button {
    font-size: 0.75rem;
  }
  .hero__text p {
    line-height: 20px;
  }
}
@media (width <= 900px) {
  .hero {
    gap: 1.75rem;
    padding-top: 3rem;
  }
  .hero__text h1 {
    font-size: 1.41rem;
  }
  .hero__text p,
  .hero__text button {
    font-size: 0.65rem;
  }
}
@media (width <= 800px) {
  .hero {
    gap: 1.4rem;
    padding-top: 2.5rem;
  }
  .hero__text h1 {
    max-width: 88%;
    font-size: 1.25rem;
  }
  .hero__text p,
  .hero__text button {
    font-size: 0.6rem;
  }
}
@media (width <= 720px) {
  .hero {
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
  }
  .hero__img {
    width: 100%;
  }
  .hero__text {
    gap: 1.25rem;
    width: 100%;
    text-align: center;
    align-items: center;
    padding-top: 4rem;
  }
  .hero__text h1,
  .hero__text p {
    max-width: 70%;
  }
  .hero__text h1 {
    font-size: 2.05rem;
  }
  .hero__text p,
  .hero__text button {
    font-size: 1.25rem;
  }
  .hero__text p {
    line-height: 1.75rem;
  }
}
@media (width <= 600px) {
  .hero {
    padding-top: 4.5rem;
  }
  .hero__text {
    gap: 1rem;
    padding-top: 3rem;
  }
  .hero__text h1,
  .hero__text p {
    max-width: 75%;
  }
  .hero__text h1 {
    font-size: 1.8rem;
  }
  .hero__text p,
  .hero__text button {
    font-size: 0.95rem;
  }
}
@media (width <= 500px) {
  .hero {
    padding-top: 3.75rem;
  }
  .hero__text {
    padding-top: 2.5rem;
  }
  .hero__text h1,
  .hero__text p {
    max-width: 85%;
  }
  .hero__text h1 {
    font-size: 1.67rem;
  }
  .hero__text p,
  .hero__text button {
    font-size: 0.9rem;
  }
}
@media (width <= 425px) {
  .hero {
    padding-top: 3rem;
  }
  .hero__text h1,
  .hero__text p {
    max-width: max-content;
  }
  .hero__text h1 {
    font-size: 1.6rem;
  }
  .hero__text p,
  .hero__text button {
    font-size: 0.85rem;
  }
}
@media (width <= 375px) {
  .hero {
    padding-top: 4.375rem;
    gap: 3.75rem;
  }
  .hero__text {
    padding-top: unset;
  }
  .hero__text h1 {
    font-size: 1.5rem;
  }
  .hero__text p {
    font-size: 1rem;
  }
  .hero__text button {
    font-size: 0.75rem;
    margin-top: 0.5rem;
  }
}

.footer {
  justify-content: flex-end;
  margin-top: 1.65rem;
}
.footer__socials {
  gap: 1rem;
}
.footer__socials li {
  z-index: 2;
  border: 1.18px solid var(--c-white);
  padding: 0.625rem;
  border-radius: 999px;
  transition: all 0.3s ease;
}
.footer__socials li:hover {
  border: 1.25px solid #ff52c1;
}
.footer__socials li:hover > svg {
  transition: all 0.3s ease;
  fill: #ff52c1;
}
@media (width <= 720px) {
  .footer {
    padding: 4.75rem 0 2.5rem;
    justify-content: center;
    margin-top: unset;
  }
  .footer__socials {
    gap: 0.75rem;
  }
  .footer__socials li svg {
    width: 1rem;
  }
}
@media (width <= 375px) {
  .footer__socials {
    gap: 0.626rem;
  }
}

/*# sourceMappingURL=style.css.map */
