.header {
	justify-content: flex-start;
	padding-top: 4rem;
	&__logo {
		z-index: 1;
		max-width: 12.5rem;
		@media (width <= 1320px) {
			max-width: 10.5rem;
		}
		@media (width <= 1200px) {
			max-width: 9.25rem;
		}
		@media (width <= 900px) {
			max-width: 7.75rem;
		}
		@media (width <= 800px) {
			max-width: 7rem;
		}
		@media (width <= 720px) {
			max-width: 10rem;
		}
		@media (width <= 600px) {
			max-width: 8.75rem;
		}
		@media (width <= 500px) {
			max-width: 8rem;
		}
		@media (width <= 425px) {
			max-width: 7.25rem;
		}
	}

	@media (width <= 375px) {
		padding-top: 2.38rem;
		&__logo {
			max-width: 6.25rem;
		}
	}
}
